# Parte 3

El sitio Web NOOA del gobierno de EEUU proporciona datasets de datos climáticos a través de
esta página Web:

http://www.ncdc.noaa.gov/cdo-web/datasets

Entre ellos tenemos los datasets “Quality Controlled Local Climatological Data (QCLCD)”
que se describen aquí:

http://www.ncdc.noaa.gov/data-access/land-based-station-data/land-baseddatasets/quality-controlled-local-climatological-data-qclcd

Entre los datos que se encuentran en los datasets QCLCD están las precipitaciones por años y
estaciones. Por ejemplo, podemos descargar los datasets de aquí:

http://www.ncdc.noaa.gov/orders/qclcd/

Y encontraremos ficheros con datos de precipitaciones como este:
Wban Number, YearMonthDay, Time, Hourly Precip
03013,19960701,0053,0
03013,19960701,0153,0
03013,19960701,0253,0
03013,19960701,0353,0
03013,19960701,0453,0
…

Se pide tomar datos de varios años (queda a la elección del estudiante) de este conjunto de
datasets para las precipitaciones y obtener los siguientes resúmenes:

- Día en que ha habido más precipitaciones.

- Año en que ha habido más precipitaciones (obteniendo la media de cada año)

Se pide realizar el análisis en dos versiones:

- Una utilizando DataFrames y los ficheros de texto que se decargan directamente.

- Una segunda con un paso previo en el que se guardan los datos en un fichero HDF5
(que debe contener los metadatos descriptivos necesarios). Queda a la decisión del
estudiante cómo organizar los datos en el fichero.

Y se pide comparar:

- El tamaño en disco que ocupan los datos en cada una de las versiones.

- El tiempo comparado de ejecución de los resúmenes anteriores.

Opcional: finalmente, se platea el almacenar en el fichero HDF5 los resúmenes mismos
obtenidos y comparar el tiempo de recuperación de esos datos del fichero con el tiempo
tardado en calcularlo.

In [1]:
# importamos librerias que vamos a necesitar (y alguna extra porsiaca)

import os
import os.path
import os, sys
import tables as tb
import numpy as np
import pandas as pd
import zipfile
from time import time

In [2]:
# Vamos a trabajar con los datos de los años 2010 al 2011.

fechas = ["201001", "201002","201003","201004","201005","201006","201007","201008","201009","201010","201011","201012","201101","201102","201103","201104","201105","201106","201107","201108","201109","201110","201111","201112"]

In [3]:
# Creamos una función para obtener los links de los meses/año de internet

def link (xmlUrl, xmlPath):
    print ('Link', xmlUrl)

In [4]:
# Vemos los ficheros ZIP de http://www.ncdc.noaa.gov dde esos años
for fecha in fechas:
    xmlUrl = 'http://www.ncdc.noaa.gov/orders/qclcd/QCLCD' + fecha + '.zip'
    xmlPath = 'QCLCD' + fecha + '.zip'
    link (xmlUrl, xmlPath)

Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201001.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201002.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201003.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201004.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201005.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201006.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201007.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201008.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201009.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201010.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201011.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201012.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201101.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201102.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201103.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201104.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201105.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201106.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201107.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201108.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201109.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201110.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201111.zip
Link http://www.ncdc.noaa.gov/orders/qclcd/QCLCD201112.zip

In [5]:
# utilizando estos link nos los bajamos a local, a la carpeta donde tenemos el notebook

In [6]:
# Creamos un dataframe para agregar los datos
lista = []

In [7]:
# Creamos una función para leer el contenido de los ficheros ZIP
def Extraer_zip(ficherozip):
    fzip = zipfile.ZipFile(ficherozip, 'r')
    return fzip

In [8]:
# Leemos los ficheros ZIP, agregamos los datos y los almacenamos en el dataframe Datos 
contador = 0
for fecha in fechas:
    contador = contador + 1
    
    # Leemos el fichero ZIP y ponemos un mensaje en cada lectura para ver que lo esta haciendo
    
    namezip = 'QCLCD' + fecha + '.zip'
    print ('Fichero', contador, 'de', len(fechas),':', namezip)
    fzip = Extraer_zip(namezip)

    # Leemos el fichero TXT de precipitaciones
    
    nametxt = fecha + 'precip.txt'
    ftxt = fzip.read(nametxt)
    fzip.close()

    outfile = open(nametxt,'wb')
    outfile.write(ftxt)
    outfile.close()    

    dfaux = pd.read_csv(nametxt, index_col=None, header=0)
    lista.append(dfaux)

datos = pd.concat(lista)

Fichero 1 de 24 : QCLCD201001.zip
Fichero 2 de 24 : QCLCD201002.zip
Fichero 3 de 24 : QCLCD201003.zip
Fichero 4 de 24 : QCLCD201004.zip
Fichero 5 de 24 : QCLCD201005.zip
Fichero 6 de 24 : QCLCD201006.zip
Fichero 7 de 24 : QCLCD201007.zip
Fichero 8 de 24 : QCLCD201008.zip
Fichero 9 de 24 : QCLCD201009.zip
Fichero 10 de 24 : QCLCD201010.zip
Fichero 11 de 24 : QCLCD201011.zip
Fichero 12 de 24 : QCLCD201012.zip
Fichero 13 de 24 : QCLCD201101.zip
Fichero 14 de 24 : QCLCD201102.zip
Fichero 15 de 24 : QCLCD201103.zip
Fichero 16 de 24 : QCLCD201104.zip
Fichero 17 de 24 : QCLCD201105.zip
Fichero 18 de 24 : QCLCD201106.zip
Fichero 19 de 24 : QCLCD201107.zip
Fichero 20 de 24 : QCLCD201108.zip
Fichero 21 de 24 : QCLCD201109.zip
Fichero 22 de 24 : QCLCD201110.zip
Fichero 23 de 24 : QCLCD201111.zip
Fichero 24 de 24 : QCLCD201112.zip

In [9]:

# Mostramos información del dataframe resultante

datos.head(15)

    Wban  YearMonthDay  Hour Precipitation PrecipitationFlag
0   3011      20100101     1
1   3011      20100101     2
2   3011      20100101     3
3   3011      20100101     4
4   3011      20100101     5
5   3011      20100101     6
6   3011      20100101     7
7   3011      20100101     8
8   3011      20100101     9
9   3011      20100101    10
10  3011      20100101    11
11  3011      20100101    12
12  3011      20100101    13          0.01
13  3011      20100101    14          0.01
14  3011      20100101    15          0.01

In [10]:
# Añadimos una columna, PrecipitacionNum que es la variable Precipitation en tipo numérico para después poder después
# hacer operaciones con ella (la media etc..)
datos['PrecipitationNum'] = pd.to_numeric(datos['Precipitation'], errors = 'coerce')

In [11]:
# vemos como quedó

datos.head(15)

    Wban  YearMonthDay  Hour Precipitation PrecipitationFlag  PrecipitationNum
0   3011      20100101     1                                               NaN
1   3011      20100101     2                                               NaN
2   3011      20100101     3                                               NaN
3   3011      20100101     4                                               NaN
4   3011      20100101     5                                               NaN
5   3011      20100101     6                                               NaN
6   3011      20100101     7                                               NaN
7   3011      20100101     8                                               NaN
8   3011      20100101     9                                               NaN
9   3011      20100101    10                                               NaN
10  3011      20100101    11                                               NaN
11  3011      20100101    12                                               NaN
12  3011      20100101    13          0.01                                0.01
13  3011      20100101    14          0.01                                0.01
14  3011      20100101    15          0.01                                0.01

In [12]:
# vamos a ver que día fue el que mas llovió, para ello seleccionamos el registro con el valor máximo en PrecipitationNum

Datos_max = datos[datos["PrecipitationNum"]==datos["PrecipitationNum"].max()]

print (' ')

print ("Fecha que llovió como en Bilbao:")

Datos_max

Fecha que llovió como en Bilbao:

,Wban,YearMonthDay,Hour,Precipitation,PrecipitationFlag,PrecipitationNum
720755,24114,20101024,12,11.80,S,11.8

In [13]:
# Para ver cuanto tiempo le lleva al sistema seleccionar el registro con el valor maximo en PrecipitationNum
# Vamos a repetir operación calculando el tiempo:

# Tomamos el tiempo al principio
timeIniDF = time()

# Buscamos de nuevo el día que ha habido más precipitaciones

Datos_max = datos[datos["PrecipitationNum"]==datos["PrecipitationNum"].max()]


# Tomamos el tiempo al final y obtenemos el tiempo que ha llevado
timeFinDF = time() 

# Y restamos

print (' ')
print ('Tiempo que llevó -->', timeFinDF-timeIniDF)

Tiempo que llevó --> 0.29580068588256836

In [14]:

# Creamos otra columna que se llame año
datos['Year'] = datos.YearMonthDay.apply(lambda x: str(x)[0:4])

In [15]:
# vemos como quedó
datos.head()

,Wban,YearMonthDay,Hour,Precipitation,PrecipitationFlag,PrecipitationNum,Year
0,3011,20100101,1,,,NaN,2010
1,3011,20100101,2,,,NaN,2010
2,3011,20100101,3,,,NaN,2010
3,3011,20100101,4,,,NaN,2010
4,3011,20100101,5,,,NaN,2010

In [16]:
# Vamos a obtener la media de precipitaciones por año

Lluviaaño = datos.groupby(['Year'])

Lluviaaño ['PrecipitationNum'].aggregate(np.mean)

media_anual = Lluviaaño ['PrecipitationNum'].aggregate(np.mean)

print (media_anual)

Year
2010    0.067218
2011    0.068329
Name: PrecipitationNum, dtype: float64

In [17]:
print ('And the winner is: 2011 ')

And the winner is: 2011

In [18]:
# Por útimo vemos que tamaño tiene en memoria:
Tamaño = datos.size
print ("Tamaño:", Tamaño)

Tamaño: 240924432

Se pide realizar el análisis en dos versiones:

- Una utilizando DataFrames y los ficheros de texto que se decargan directamente.
- Una segunda con un paso previo en el que se guardan los datos en un fichero HDF5 (que debe contener los metadatos descriptivos necesarios). Queda a la decisión del estudiante cómo organizar los datos en el fichero.

Y se pide comparar:

- El tamaño en disco que ocupan los datos en cada una de las versiones.
- El tiempo comparado de ejecución de los resúmenes anteriores.

Opcional: finalmente, se platea el almacenar en el fichero HDF5 los resúmenes mismos obtenidos y comparar el tiempo de recuperación de esos datos del fichero con el tiempo tardado en calcularlo.

In [19]:
# Importamos la librería para trabajar con HDF5 y Pandas
from pandas import HDFStore, DataFrame

In [20]:
# Asignamos nombre a la tabla y al fichero HDF5
hdf5datos = "tabla/hdf5_precipitaciones"
hdf5filename = "hdf5_precipitaciones.h5"

# Eliminamos el fichero
try:
    os.remove(hdf5filename)
except OSError:
    pass

hdf = HDFStore(hdf5filename)

# A continucaión vamos a guardar el dataframe en fichero hdf5
hdf.put(hdf5datos, datos, format='table', data_columns=True)

In [22]:

# Vemos como quedó

print (hdf[hdf5datos].shape)
hdf[hdf5datos].head()

(34417776, 7)

,Wban,YearMonthDay,Hour,Precipitation,PrecipitationFlag,PrecipitationNum,Year
0,3011,20100101,1,,,NaN,2010
1,3011,20100101,2,,,NaN,2010
2,3011,20100101,3,,,NaN,2010
3,3011,20100101,4,,,NaN,2010
4,3011,20100101,5,,,NaN,2010

In [23]:
# Vamos a llevar los datos a un data frame: datos, pero esta vez tendra apellido: _hdf5

datos_hdf5=hdf[hdf5datos]

In [31]:

# una vezz más vamos a ver cuanto tiempo le lleva al sistemma buscar el diía más lluvioso y medirlo 

# Tomamos el tiempo al principio
timeIniDF = time()


print (' ')

print ("Fecha que llovió como en Bilbao:")

maximo = datos_hdf5[datos_hdf5["PrecipitationNum"]==datos_hdf5["PrecipitationNum"].max()]

print (maximo)

# Tomamos el tiempo al final y obtenemos el tiempo que ha llevado
timeFinDF = time() 

# Y restamos

print (' ')
print ('Tiempo que llevó hdf5 -->', timeFinDF-timeIniDF)

Fecha que llovió como en Bilbao:
         Wban  YearMonthDay  Hour Precipitation PrecipitationFlag  \
720755  24114      20101024    12         11.80                 S

        PrecipitationNum  Year
720755              11.8  2010

Tiempo que llevó hdf5 --> 0.6521427631378174

In [28]:
# Vamos a obtener la media de precipitaciones por año (y como no nos salgan los mismos resutados habiendo tomado 
# los mismos datos... malo)

Lluviaaño = datos_hdf5.groupby(['Year'])

Lluviaaño ['PrecipitationNum'].aggregate(np.mean)

media_anual = Lluviaaño ['PrecipitationNum'].aggregate(np.mean)

print (media_anual)

Year
2010    0.067218
2011    0.068329
Name: PrecipitationNum, dtype: float64

In [29]:
# bueno :o)

print ('And the winner is: 2011 ')

And the winner is: 2011

In [32]:
# Por útimo vemos que tamaño tiene en memoria:
Tamaño = datos_hdf5.size
print ("Tamaño:", Tamaño)

Tamaño: 240924432

In [39]:
# vamos a ver el tamño en disco

Tamaño_disco = hdf.root.tabla.hdf5_precipitaciones.table.size_on_disk
print (Tamaño_disco)

1721112750

In [ ]:
# Al comparar vemos que:

# los resultados de media por año y día más lluvioso es el mismo (menos mal porque si no algún error tendríamos en la toma
# de datos  :o)

# La velocidad me aparece el doble de lento HDF5: 0.29580068588256836 vs  0.6521427631378174

# Y en cuanto a tamaño en memoria, es el mismo: 240924432